body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
    font-size: 18px;
}

.bg-patron{
    background-image: url("../images/interlaced.png");
}

.carousel-item {
    background-repeat: no-repeat;
    background-size:cover;

}
#slide1 {
    background-image: url("../images/slide3.jpg");
}
#slide2 {
    background-image: url("../images/slide1.jpg");
}
#slide3 {
    background-image: url("../images/slide2.jpg");
}


.panel2 {
    background-color: lightgrey;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0 20px 0;
}

.btn-rounded {
    border-radius: 25px !important;
}

.line {
    margin: 10px;
    border-top: 2px lightgrey dashed;
}

.line2 {
    margin: 10px;
    border-top: 2px grey dashed;
}

.texto-card {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 10px;
    color: #0097e2 !important;
}
.texto-card-2 {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.3;
    color: #424242 !important;
}
