<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arrendar - SiGAByP</title>

    <link type="text/css" rel="stylesheet" href="../css/estilos.css"/>
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <script type="text/javascript" src="../js/fontawesome-all.js"></script>
</head>
<body class="blue darken-1">

    <div class="navbar-fixed">
        <nav class="blue">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="../index.html" class="brand-logo"><i class="fas fa-bicycle fa-lg"></i> SiGAByP</a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="cargar_tarjeta.html">Cargar Targeta</a></li>
                        <li><a href="devolver.html">Mis Vehiculos</a></li>
                        <li><a href="mapa.html">Mapa</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <main>
        <div class="container">
            <div class="card-panel">
                <center><h5>Arrendar Vehiculo</h5></center>
                <div class="line"></div>
                <div class="row">
                    <div class="col s12 m4">
                        <img src="../images/bike.png" alt="" class="responsive-img">
                        Número de Vehiculo: 0123 <br>
                        Número de Serie: A245

                    </div>
                    <div class="col s12  offset-m1 m6">
                        <div class="row">
                            <br>
                            <big>
                                Fecha de devolución: 02 Junio del 2019 <br><br>
                                Costo del Arriendo: $ 9.500 Puntos <br><br>
                                Que uso le dara al vehiculo
                                <select name="motivo" id="">
                                    <option value="">Esparcimiento</option>
                                    <option value="">Transporte</option>
                                </select>
                            </big>
                        </div>

                        <div class="row">
                            <div class="right-align">
                                <a href="vista_sitio.html" class="btn red waves-effect">Cancelar</a>
                                <a href="devolver.html" class="btn blue waves-effect">Confirmar arriendo</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>
    <br>
    <footer class="page-footer blue darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">SiGAByP</h5>
                    <p class="grey-text text-lighten-4">Sistema de información para la Gestión del Alquiler de Bicicletas y Patinetas.</p>
                </div>
            <div class="col l4 offset-l1 s12">
                <h5 class="white-text">Desarrolladores</h5>
                <ul>
                      <li><i class="fas fa-user"></i> Cristian Vergel</li>
                      <li><i class="fas fa-user"></i> Mario Ospino</li>
                      <li><i class="fas fa-user"></i> Hallel Vargas</li>
                      <li><i class="fas fa-user"></i> Geraldine Granados</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                Unimagdalena © 2019 Copyright
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
