<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cargar Tarjeta - SiGAByP</title>

    <link type="text/css" rel="stylesheet" href="../css/estilos.css"/>
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <script type="text/javascript" src="../js/fontawesome-all.js"></script>
</head>
<body class="blue darken-1">

    <div class="navbar-fixed">
        <nav class="blue">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="../index.html" class="brand-logo"><i class="fas fa-bicycle fa-lg"></i> SiGAByP</a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="cargar_tarjeta.html">Cargar Targeta</a></li>
                        <li><a href="devolver.html">Mis Vehiculos</a></li>
                        <li><a href="mapa.html">Mapa</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <main><br>
        <div class="container">
            <div class="row">
                <div class="col s12 offset-m2 m8">
                    <div class="card-panel">
                        <center><h5>Cargar Tarjeta</h5></center>
                        <div class="line"></div>
                        <br>
                        <div class="row">
                            <div class="input-field col offset-s1 s10">
                                <select>
                                    <option value="" disabled selected>Seleccione</option>
                                    <option value="1">$ 10.000 Puntos</option>
                                    <option value="1">$ 30.000 Puntos</option>
                                    <option value="1">$ 50.000 Puntos</option>
                                    <option value="1">$ 100.000 Puntos</option>
                                </select>
                                <label>Cantidad a cargar</label>
                            </div>
                            <div class="col offset-s1 s10 grey-text">
                                Medio de Pago: <i class="far fa-credit-card"></i> Tarjeta de Credito
                            </div>
                        </div>
                        <center><br>
                            <a href="" class="btn blue waves-effect">Confirmar carga</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br>
    <footer class="page-footer blue darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">SiGAByP</h5>
                    <p class="grey-text text-lighten-4">Sistema de información para la Gestión del Alquiler de Bicicletas y Patinetas.</p>
                </div>
            <div class="col l4 offset-l1 s12">
                <h5 class="white-text">Desarrolladores</h5>
                <ul>
                      <li><i class="fas fa-user"></i> Cristian Vergel</li>
                      <li><i class="fas fa-user"></i> Mario Ospino</li>
                      <li><i class="fas fa-user"></i> Hallel Vargas</li>
                      <li><i class="fas fa-user"></i> Geraldine Granados</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                Unimagdalena © 2019 Copyright
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
