<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devolver - SiGAByP</title>

    <link type="text/css" rel="stylesheet" href="../css/estilos.css"/>
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <script type="text/javascript" src="../js/fontawesome-all.js"></script>
</head>
<body class="blue darken-1">

    <main>
        <div class="container">
            <div class="row">
                <div class="col offset-s1 s10">
                    <div class="card-panel">
                        <center><h5>Mis Vehiculos Arrendados</h5></center>
                        <div class="line"></div><br>
                        <div class="card-panel grey lighten-3" style="padding:0px">
                            <div class="row" style="margin-bottom:0px;">
                                <div class="col s12 m3">
                                    <img src="../images/bike.png" alt="" class="responsive-img">
                                </div>
                                <div class="col s12 offset-m1 m8" style="padding:20px;">
                                    Bicicleta N° 0123 <br>
                                    Tienes hasta el 02/06/19 para devolverla. <br><br>
                                    <a href="" class="btn blue right">Confirmar devolucion</a>
                                </div>

                            </div>
                        </div>
                        <div class="card-panel grey lighten-3" style="padding:0px">
                            <div class="row" style="margin-bottom:0px;">
                                <div class="col s12 m3">
                                    <img src="../images/patineta.png" alt="" class="responsive-img">
                                </div>
                                <div class="col s12 offset-m1 m8" style="padding:20px;">
                                    Patineta N° 0043 <br>
                                    Tienes hasta el 02/06/19 para devolverla. <br><br><br>
                                    <a href="" class="btn blue right">Confirmar devolucion</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br>
    <footer class="page-footer blue darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">SiGAByP</h5>
                    <p class="grey-text text-lighten-4">Sistema de información para la Gestión del Alquiler de Bicicletas y Patinetas.</p>
                </div>
            <div class="col l4 offset-l1 s12">
                <h5 class="white-text">Desarrolladores</h5>
                <ul>
                      <li><i class="fas fa-user"></i> Cristian Vergel</li>
                      <li><i class="fas fa-user"></i> Mario Ospino</li>
                      <li><i class="fas fa-user"></i> Hallel Vargas</li>
                      <li><i class="fas fa-user"></i> Geraldine Granados</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                Unimagdalena © 2019 Copyright
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
