<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro - SiGAByP</title>

    <link type="text/css" rel="stylesheet" href="../css/estilos.css"/>
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <script type="text/javascript" src="../js/fontawesome-all.js"></script>
</head>
<body class="blue darken-1">

    <main>
        <div class="container">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 m7">
                        <div class="col s12 center">
                            <b>Formulario de Registro</b>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="fname" type="text" class="validate">
                            <label for="fname">Nombre</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="lname" type="text" class="validate">
                            <label for="lname">Apellido</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <select>
                                  <option value="" disabled selected>Seleccione</option>
                                  <option value="1">Cedula de Ciudadania</option>
                                  <option value="2">Tarjeta de Identidad</option>
                                  <option value="3">Pasaporte</option>
                            </select>
                            <label>Tipo de documento</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="documento" type="number" class="validate">
                            <label for="documento">Número de Documento</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="username" type="text" class="validate">
                            <label for="username">Nombre de Usuario</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="email" type="email" class="validate">
                            <label for="email">Correo electronico</label>
                        </div>

                        <div class="input-field col s12 m6">
                            <input id="phone" type="number" class="validate">
                            <label for="phone">Número de telefono</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="contrasena" type="password" class="validate">
                            <label for="contrasena">Contraseña</label>
                        </div>

                    </div>
                    <div class="col s12 m5">

                    </div>

                </div>
            </div>
        </div>
    </main>


    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
