<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> - SiGAByP</title>

    <link type="text/css" rel="stylesheet" href="../css/estilos.css"/>
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <script type="text/javascript" src="../js/fontawesome-all.js"></script>
</head>
<body class="bg-patron">

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <br>
                    <div class="row">
                        <nav>
                            <div class="nav-wrapper white">
                                <div class="input-field">
                                    <input id="search" type="search" placeholder="¿Que estas buscando?" style="font-size:20px;">
                                    <label class="label-icon" for="search"><i class="fas fa-search fa-2x"></i></label>
                                    <!-- <i class="material-icons fas fa-times" style=""></i> -->
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="card-panel">
                            <center><big>Lugares de Arriendo</big></center>
                            <div class="line"></div>
                            <div class="row">

                                <div class="col s12 m4">
                                    <a href="vista_sitio.html">
                                        <div class="card small z-depth-2 hoverable">
                                            <div class="card-image">
                                                <img src="../images/slide2.jpg">
                                            </div>
                                            <div class="card-content center" style="padding:15px;">
                                                <div class="texto-card">Barrio Los Laureles</div>
                                                <div class="texto-card-2">
                                                    Bicicletas disponibles: 12 <br>
                                                    Patinetas disponibles: 8 </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col s12 m4">
                                    <a href="vista_sitio.html">
                                        <div class="card small z-depth-2 hoverable">
                                            <div class="card-image">
                                                <img src="../images/01.jpg">
                                            </div>
                                            <div class="card-content center" style="padding:15px;">
                                                <div class="texto-card">Barrio Los Almendros</div>
                                                <div class="texto-card-2">
                                                    Bicicletas disponibles: 14 <br>
                                                    Patinetas disponibles: 3 </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col s12 m4">
                                    <a href="vista_sitio.html">
                                        <div class="card small z-depth-2 hoverable">
                                            <div class="card-image">
                                                <img src="../images/02.jpg">
                                            </div>
                                            <div class="card-content center" style="padding:15px;">
                                                <div class="texto-card">Barrio Miranda</div>
                                                <div class="texto-card-2">
                                                    Bicicletas disponibles: 10 <br>
                                                    Patinetas disponibles: 8 </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col s12 m4">
                                    <a href="vista_sitio.html">
                                        <div class="card small z-depth-2 hoverable">
                                            <div class="card-image">
                                                <img src="../images/03.jpg">
                                            </div>
                                            <div class="card-content center" style="padding:15px;">
                                                <div class="texto-card">Barrio Bolivar</div>
                                                <div class="texto-card-2">
                                                    Bicicletas disponibles: 8 <br>
                                                    Patinetas disponibles: 13 </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col s12 m4">
                                    <a href="vista_sitio.html">
                                        <div class="card small z-depth-2 hoverable">
                                            <div class="card-image">
                                                <img src="../images/04.jpg">
                                            </div>
                                            <div class="card-content center" style="padding:15px;">
                                                <div class="texto-card">Barrio San Juan</div>
                                                <div class="texto-card-2">
                                                    Bicicletas disponibles: 19 <br>
                                                    Patinetas disponibles: 9 </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col s12 m4">
                                    <a href="vista_sitio.html">
                                        <div class="card small z-depth-2 hoverable">
                                            <div class="card-image">
                                                <img src="../images/slide1.jpg">
                                            </div>
                                            <div class="card-content center" style="padding:15px;">
                                                <div class="texto-card">Barrio Santa Maria</div>
                                                <div class="texto-card-2">
                                                    Bicicletas disponibles: 15 <br>
                                                    Patinetas disponibles: 13 </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>


                            </div>
                            <center>
                                <ul class="pagination">
                                    <li class="disabled"><a href="#!"><i class="fas fa-chevron-left"></i></a></li>
                                    <li class="active blue"><a href="#!">1</a></li>
                                    <li class="waves-effect"><a href="#!">2</a></li>
                                    <li class="waves-effect"><a href="#!">3</a></li>
                                    <li class="waves-effect"><a href="#!">4</a></li>
                                    <li class="waves-effect"><a href="#!">5</a></li>
                                    <li class="waves-effect"><a href="#!"><i class="fas fa-chevron-right"></i></a></li>
                                </ul>
                            </center>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>


    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
