<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lugares de Arriendo - SiGAByP</title>

    <link type="text/css" rel="stylesheet" href="../css/estilos.css"/>
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <script type="text/javascript" src="../js/fontawesome-all.js"></script>
</head>
<body class="bg-patron">

    <main>
        <div class="container">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 m4">
                        <big>Barrio Las Palmas</big>
                        <img src="../images/01.jpg" alt="" class="responsive-img z-depth-2">
                        <div style="height:10px;"></div>
                        <i class="fas fa-star fa-2x amber-text"></i>
                        <i class="fas fa-star fa-2x amber-text"></i>
                        <i class="fas fa-star fa-2x amber-text"></i>
                        <i class="fas fa-star fa-2x amber-text"></i>
                        <i class="fas fa-star-half-alt fa-2x amber-text"></i>
                    </div>
                    <div class="col s12 offset-m1 m7">
                        <big>Como encontrarnos</big>
                        <img src="../images/mapa.png" alt="" class="responsive-img z-depth-2">
                    </div>
                </div>
                <br>
                <div class="row">
                    <center><h5>Bicicletas</h5></center>
                    <div class="line"></div>
                    <div class="col s12">
                        <div class="col s12 m3">
                            <div class="card-panel grey lighten-2 z-depth-2 hoverable">
                                <img src="../images/bike.png" alt="" class="responsive-img">
                                <center>
                                    <p>Bicicleta N° 0124</p>
                                    <a href="arrendar.html" class="btn btn-rounded blue waves-effect">Arrendar</a>
                                </center>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="card-panel grey lighten-2 z-depth-2 hoverable">
                                <img src="../images/bike.png" alt="" class="responsive-img">
                                <center>
                                    <p>Bicicleta N° 0214</p>
                                    <a href="arrendar.html" class="btn btn-rounded blue waves-effect">Arrendar</a>
                                </center>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="card-panel grey lighten-2 z-depth-2 hoverable">
                                <img src="../images/bike.png" alt="" class="responsive-img">
                                <center>
                                    <p>Bicicleta N° 0214</p>
                                    <a href="arrendar.html" class="btn btn-rounded blue waves-effect">Arrendar</a>
                                </center>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="card-panel grey lighten-2 z-depth-2 hoverable">
                                <img src="../images/bike.png" alt="" class="responsive-img">
                                <center>
                                    <p>Bicicleta N° 0024</p>
                                    <a href="arrendar.html" class="btn btn-rounded blue waves-effect">Arrendar</a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <center><h5>Patinetas</h5></center>
                    <div class="line"></div>
                    <div class="col s12">
                        <div class="col s12 m3">
                            <div class="card-panel grey lighten-2 z-depth-2 hoverable">
                                <img src="../images/patineta.png" alt="" class="responsive-img">
                                <center>
                                    <p>Patineta N° 0124</p>
                                    <a href="arrendar.html" class="btn btn-rounded blue waves-effect">Arrendar</a>
                                </center>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="card-panel grey lighten-2 z-depth-2 hoverable">
                                <img src="../images/patineta.png" alt="" class="responsive-img">
                                <center>
                                    <p>Patineta N° 0213</p>
                                    <a href="arrendar.html" class="btn btn-rounded blue waves-effect">Arrendar</a>
                                </center>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="card-panel grey lighten-2 z-depth-2 hoverable">
                                <img src="../images/patineta.png" alt="" class="responsive-img">
                                <center>
                                    <p>Patineta N° 2124</p>
                                    <a href="arrendar.html" class="btn btn-rounded blue waves-effect">Arrendar</a>
                                </center>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="card-panel grey lighten-2 z-depth-2 hoverable">
                                <img src="../images/patineta.png" alt="" class="responsive-img">
                                <center>
                                    <p>Patineta N° 0311</p>
                                    <a href="arrendar.html" class="btn btn-rounded blue waves-effect">Arrendar</a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <br>
    <footer class="page-footer blue darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">SiGAByP</h5>
                    <p class="grey-text text-lighten-4">Sistema de información para la Gestión del Alquiler de Bicicletas y Patinetas.</p>
                </div>
            <div class="col l4 offset-l1 s12">
                <h5 class="white-text">Desarrolladores</h5>
                <ul>
                      <li><i class="fas fa-user"></i> Cristian Vergel</li>
                      <li><i class="fas fa-user"></i> Mario Ospino</li>
                      <li><i class="fas fa-user"></i> Hallel Vargas</li>
                      <li><i class="fas fa-user"></i> Geraldine Granados</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                Unimagdalena © 2019 Copyright
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>
